.aboutSection {
    /* height: 88vh; */
    /* background-color: var(--secondary-color); */
    color: var(--primary-color);
}

.aboutPic {
    height: auto;
    width: 30vw;
    margin: 10px;
}

.aboutHeader, .aboutText {
    margin: 10px;
}



@media screen and (max-width: 450px) {
    .aboutPic {
        width: 85vw;
    }
}