.aboutSection {
    color: var(--primary-color);
    padding: 30px;
}

.aboutPic {
    height: auto;
    width: 30vw;
    min-width: 300px;
    margin: 10px;
}

.aboutHeader {
    text-align: center;
}

.aboutHeader, .aboutText {
    margin: 25px;
}

@media screen and (max-width: 450px) {
    .aboutPic {
        width: 85vw;
    }
}