.bookingSection {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 20px;
    /* height: 60vh; */
}

.formInputs {
    background-color: var(--primary-color);
    border: 0;
    /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
    /* box-shadow: none; */
    /* border: 0.2px solid var(--third-color); */
    border-bottom: 1px solid var(--third-color);
    background: transparent;
    border-radius: 2px;
    margin: 2px;
    width: 100%;
}

.bookingCard {
    /* background-color: #d6dce0ac; */
    background-color: var(--secondary-color);
    width: 35% !important;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.06);
    /* transform: translateX(-100%); */
}

.bookingForm, .bookingCard {
    width: 35%;
    margin: 10px;
    min-width: 381px;
    padding: 20px;
}

.SubmitBtn {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    margin: 10px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16); */
}

.messageInput {
    height: 20vh;
    padding-top: 0;
}

/* .messageInput::content {
    opacity: 0.1;
} */

.messageInput::placeholder {
    position: absolute;
    top: 5px;
}

.testBtn {
    background-color: #469DAF;
    bottom: 0;
}
