.bookingSection {
    background-color: var(--primary-color);
    color: var(--third-color);
    height: 60vh;
}

/* .bookingHeader {
    color: var(--third-color);
} */

.formInputs {
    background-color: var(--secondary-color);
    box-shadow: none;
    /* border: 1px solid var(--third-color); */
    border: none;
    /* border-radius: 4px; */
    margin: 2px;
    width: 100%;
}

.bookingForm {
    width: 45%;
    margin: 10px;
    min-width: 381px;
}

.messageInput {
    height: 20vh;
}

.messageInput::placeholder {
    position: absolute;
    top: 5px;
}

.testBtn{
    background-color: #469DAF;
    bottom: 0;
}