.bookingSection {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 20px;
}

.BookingHeadRow{
    min-height: 115px;
}

.formInputs {
    background-color: var(--primary-color);
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--third-color);
    background: transparent;
    border-radius: 2px;
    margin: 2px;
    width: 100%;
}

.bookingCard {
    background-color: var(--secondary-color);
    width: 35% !important;
    min-height: 311px;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.06);
}

.bookingForm,
.bookingCard {
    width: 35%;
    margin: 10px;
    min-width: 361px;
    padding: 20px;
}

.SubmitBtn {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 8px;
    width: 100px;
    margin: 10px;
    margin-top: 45px;
    color: var(--third-color);
    text-decoration: none;
}

.messageInput {
    min-height: 50px;
    resize: vertical;
    overflow-y: auto;
}

.testBtn {
    background-color: #469DAF;
    bottom: 0;
}