.footer {
    background-color: var(--primary-color);
    /* height: 300px; */
    padding: 20px;
}

.insta, .email {
    width: 35px;
    /* min-width: 25px; */
    margin: 15px;
}

.email {
    width: 37.5px;
    margin-right: .5px;
}

.insta{ 
    margin-left: .5px;
}

.footerLogo {
    height: 8rem;
    width: auto;
}

.FooterNav {
    margin: 40px;
    display: flex;
    justify-content: center;
    & a{
        color: var(--third-color);
        text-decoration: none !important;
    }
}

.Atag {
    color: var(--third-color);
    text-decoration: none !important;
}

.FooterNavRow {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .FooterNav {
        display: flex;
        justify-content: center;
    }
    .FooterNavRow {
        display: flex;
        justify-content: center;
    }
}

.cls-1, .cls-2 {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
    stroke-width: 1.9px;
}

.cls-2 {
    stroke-linecap: round;
}
