:root {
  --primary-color: #469DAF;
  --secondary-color: white;
  --third-color: black;
}

html {
  scroll-behavior: smooth;
}

.homeCard {
  height: 100vh;
}

.jumbotron {
  background-image: url(./images/bg.jpg);
  height: 100%;
  width: 100%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

