.homeCard {
    height: 105vh;
}

.jumbotron {
    background-image: url(./images/bg4.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 720px) {
    .jumbotron{
        background-image: url(./images/vert1.jpeg);
    }
}

@media screen and (max-width: 480px) {
    .jumbotron {
        background-image: url(./images/vert4.jpg);
        height: 100%;
        width: 100%;
        background-position: center;
    }

}

