.navLinks {
    list-style: none;
    display: block;
}

.hamburger {
    display: block;
}

@media screen and (max-width: 480px) {
    .navLinks {
        visibility: hidden;
    }
}

@media screen and (min-width: 480px) {
    .hamburger {
        visibility: hidden;
    }
}

.navStyles, .transparentNav {
    z-index: 3;
    top: 0;
}

.navStyles {
    background-color: var(--primary-color);

}

a {
    color: var(--third-color);
    text-decoration: none;
}


a:hover {
    color: var(--secondary-color) !important; 
    text-decoration:none; 
    cursor:pointer;  
}

.logo {
    height: 6rem;
    width: auto;
}

.menuContainer {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
}

aside {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.06);
}