.coffeePreview {
    height: auto;
    width: 40vw;
    max-width: 450px;
    margin: 0;
}

.coffeeSection, .alternateSection {
    align-content: center;
    min-height: 500px;
    padding: 20px;
}

.coffeeSection {
    background-color: var(--primary-color);
}

.alternateSection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.coffeeHeader, .coffeeText, .moreInfoBtn {
    margin: 20px;
}


@media screen and (max-width: 950px) {
    .coffeePreview {
        width: 90vw;
    }
}